name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies in webapp
        run: npm install --prefix webapp

      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium webkit
        working-directory: webapp

      - name: Build webapp with webpack
        run: npm run build --prefix webapp

      - name: Run tests in webapp
        run: npm test --prefix webapp

      - name: Check code formatting with Prettier
        run: cd webapp && npx prettier -c .

      - name: Deploy preview to Cloudflare Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: fonteditor-863
          directory: ./webapp/build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: preview
